data/00_landing/*
data/01_bronze_raw/*
data/02_silver/*
data/03_gold/*
!data/00_landing/.gitkeep
!data/01_bronze_raw/.gitkeep
!data/02_silver/.gitkeep
!data/03_gold/.gitkeep
metadata/runs/
quality/runs/
docs/execucoes/
__pycache__/
.venv/
.env
*.py[cod]
.pytest_cache/
.mypy_cache/
.DS_Store
Thumbs.db
